# RAG GATEWAY GATEWAY CONFIGURATIONS
PORT=3000

# INFERENCE NODE ROUTING
PYTHON_INFERENCE_URL=http://localhost:5000/generate-answer
OLLAMA_CORE_URL=http://localhost:11434

# VECTOR STORAGE INSTANCE
QDRANT_HOST=http://localhost:6333
COLLECTION_NAME=bitcoin_knowledge_base